@using MvcPagerDemo.Models
@model List<PagerDemo>
@{
    Layout = null;
}
<table id="pagerData">
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>内容</th>
        <th>创建时间</th>
        <th>创建人</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td>@item.CreateTime</td>
            <td>@item.CreateUser</td>
        </tr>

    }
</table>    